################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/packages
/TestResults/441c9878-9b18-40d1-b84f-89b9a6eb21df
/Binapsis.Plataforma.Helper/bin/Debug/netstandard1.3
/Binapsis.Plataforma.Helper/obj
